<button data-bs-toggle="modal" data-bs-target="#addLiga" id="button" >Agregar Liga</button>
<!-- Button trigger modal -->
<div class="container">
    <div class="card" *ngFor="let li of ligaModelGet; let i = index">
        <img src="{{li.imagen}}" class="card-img-top" id="img-liga">
        <div class="card-body" >
          <h4>{{li.nombre}}</h4>
          <p>{{li.descripcion}}</p>
            
            <div class="btn-group " role="group" aria-label="Basic example" style="margin-top: 10px;">
              <button type="button" class="btn btn-primary" (click)='obtenerIdLiga(li._id)' [routerLink]="['/equipos', li._id]"><i class="bi bi-journal-arrow-up" style="color: #fff;"></i></button>
              <button type="button" class="btn btn-primary" (click)='obtenerIdLiga(li._id)' data-bs-toggle="modal" data-bs-target="#editLiga"><i class="bi bi-pencil" style="color: #fff;"></i></button>
              <button type="button" class="btn btn-primary" (click)='obtenerIdLiga(li._id)' data-bs-toggle="modal" data-bs-target="#deleteLiga"><i class="bi bi-trash" style="color: #fff;"></i></button>
            </div>
        </div>
        
    </div>
  </div><br>

  <!-- Modal registrar -->
  <div class="modal fade" id="addLiga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Ligas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="ligaModelAdd.nombre">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea class="form-control" id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="ligaModelAdd.descripcion"></textarea>
            <label for="imagen" class="form-label">Imagen</label>
            <input type="text" class="form-control" name="imagen" #imagen="ngModel" [(ngModel)]="ligaModelAdd.imagen">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)='agregarLiga()'>Guardar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal editar -->
    <div class="modal fade" id="editLiga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Liga</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="ligaModelId.nombre">
                <label for="descripcion" class="form-label">Descripcion</label>
                <textarea class="form-control"  id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="ligaModelId.descripcion"></textarea>
                <label for="imagen" class="form-label">Imágen</label>
                <input type="text" class="form-control" id="imagen" name="imagen" #imagen="ngModel" [(ngModel)]="ligaModelId.imagen">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)='editarLiga()'>Editar </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal deleteLiga -->

    <div class="modal fade" id="deleteLiga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que quiere eliminar la liga?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)='eliminarLiga()'>Si </button>
            </div>
          </div>
        </div>
      </div>
