<br>
<div class="container">
  <table align="center">

    <tr>

      <td>
        <div class="col">
          <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Entrar a Torneos"
            routerLink="/ligas-admin"><a type="button"><i class="material-icons" style="font-size: 50px"
                data-toggle="tooltip">&#xf1be;</i></a><br>Torneos
          </button>
        </div>
      </td>

      <td>
        <div class="col">
          <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Entrar a Usuarios"
            routerLink="/usuarios"><a type="button"><i class="material-icons" style="font-size: 50px"
                data-toggle="tooltip">&#xf02e;</i></a><br>Usuarios
          </button>
        </div>
      </td>

    </tr>

    <tr>

      <td>
        <div class="col">
          <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Entrar Equipos"><a
              type="button"><i class="material-icons" style="font-size: 50px"
                data-toggle="tooltip">&#xf233;</i></a><br>Equipos</button>
        </div>
      </td>

      <td>
        <div class="col">
          <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Entrar a Estadísticas"><a type="button"><i class="material-icons" style="font-size: 50px"
                data-toggle="tooltip">&#xe6c4;</i></a><br>Gráficas</button>
        </div>
      </td>

    </tr>

  </table>
